body {
  background: linear-gradient(#380060, #5D00A0);
  font-family: 'Source Code Pro', monospace;
  height: 100vh;
  width: 98%;
  margin: 0px;
  background-attachment: fixed;
}

.main {
  margin-left: calc(265px + 2%);
  padding: 20px;
  margin-top: 20px;
  text-align: center;

  .large-card {
    display: block;
    color: white;
    font-size: 1.3em;
    background-color: transparent;
    box-shadow: 0px 0px 4px 1px black;
    padding: 10px;

    .title {
      color: black;
      background-color: #FCBA04;
      border-radius: 2px;
      box-shadow: 0px 0px 4px 1px black;
      font-size: 1.5em;
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -10px;
      margin-bottom: 10px;
      padding-top: 10px;
      padding-left: 10px;
      opacity: 0.9;
    }

    .date {
      color: white;
      background-color: #fc6704;
      border-radius: 2px;
      box-shadow: 0px 3px 2px 1px black;
      font-size: 0.8em;
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -10px;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      opacity: 0.9;
    }

    .body {
      color: white;
      overflow: hidden;

      img {
        display: block;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
      }

      embed {
        width: 100%;
        height: 80vh;
      }

      .home-image {
        width: 60%;
        height: 50%;
      }

      a {
        color: white;
        text-decoration: none;
      }

    }

  }


  .large-card:hover {
    box-shadow: 0px 0px 4px 5px black;
    transition: 0.5s;
  }

  .small-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .small-card {
    display: inline-block;
    color: white;
    font-size: 1.5em;
    background-color: transparent;
    box-shadow: 0px 0px 4px 1px black;
    padding: 10px;
    margin: 10px;
    width: 400px;
    height: 400px;

    .title {
      color: black;
      border-radius: 200px;
      background-color: #FCBA04;
      opacity: 0.9;
      text-align: center;
      box-shadow: 0px 0px 4px 1px black;
      margin-top: 15px;
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      width: 380px;
      height: 40px;
    }

    .body {
      color: white;
      padding-top: 10px;
      overflow: hidden;

      img {
        margin-top: 10px;
        height: 300px;
        overflow: hidden;
      }
    }

    .footer {
      background: rgba(0, 0, 5, 0.2);
      border-radius: 2px;
      font-size: 0.5em;
      margin-top: -32px;
      margin-left: 6px;
      padding-left: 4px;
      padding-top: 2px;
      padding-bottom: 2px;
      position: absolute;
      width: 240px;
      height: 15px;
      overflow: hidden;
    }

  }

  .small-card:hover {
    box-shadow: 0px 0px 4px 5px black;
    transition: 0.5s;
  }

  .title-link {
    text-decoration: none;
  }

  .title-link:hover {
    color: white;
  }

  .horizontal-card {
    display: block;
    color: white;
    font-size: 1.3em;
    background-color: transparent;
    box-shadow: 0px 0px 4px 1px black;
    padding: 10px;
    margin: 10px;

    .title {
      color: black;
      background-color: #FCBA04;
      border-radius: 2px;
      box-shadow: 0px 0px 4px 1px black;
      font-size: 1.5em;
      margin-left: -10px;
      margin-right: -10px;
      margin-top: -10px;
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 4px;
      opacity: 0.9;
      height: 35px;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .horizontal-body {
      color: white;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      width: 100%;
      height: 97px;
      margin-bottom: 10px;
    }

    .read-more {
      background: rgba(0, 0, 5, 0.4);
      border-radius: 2px;
      color: #00b5b9;
      margin-left: -10px;
      padding-left: 30px;
      padding-right: 10px;
      width: 240px;
      height: 15px;
      overflow: hidden;
      text-decoration: none;
      transition: 0.3s;
    }

    .read-more:hover {
      color: #9efcff;
      transition: 0.3s;
    }

  }

}

@media screen and (max-width: $mobile-break) {
  .main {
    margin-left: calc(75px + 2%);
  }
}

@media screen and (min-width: $expanding-nav) {
  .main {
    margin-left: calc(22% + 25px);
  }
}
